.main-title
{
    margin-top: 8px;
}

.main-btn
{
    width: 100%;
    margin-top: 16px;
}

.main-footer
{
    position: fixed;

    padding-top:    4px;
    padding-bottom: 4px;

    left: 0px;
    bottom: 0px;

    width: 100%;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.06);

    background-color: white;
}

.header img {
    margin-left: 3px;
    float: left;
    width: 45px;
    height: 45px;
}
  
.header h1 {
    position: fixed;
    top: 18px;
    left: 10px;
}

.panel-menu {
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.12);
    height: 100vh;

    margin-top: -18px;
}